<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiuAwen-照片墙</title>
    <link href="../static/images/me.jpg" th:href="@{/images/me.jpg}" rel="icon" type="image/x-ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
    <link rel="stylesheet" href="../static/lib/picture/css/jkresponsivegallery.css"
          th:href="@{/lib/picture/css/jkresponsivegallery.css}">
</head>
<body>

<!--导航-->
<nav class="gird-header">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui olive header item" style="font-family: STSong">Liu Awen</h2>
            <!--<div class="right m-item item m-mobile-hide">-->
            <a href="#" target="_blank" th:href="@{/}" class="m-item item m-mobile-hide "
               th:classappend="${n==1} ? 'active'"><i class="mini home icon"></i>&nbsp;首页</a>
            <a href="#" target="_blank" th:href="@{/types/-1}" class="m-item item m-mobile-hide"
               th:classappend="${n==2} ? 'active'"><i class="mini idea icon"></i>分类</a>
            <a href="#" target="_blank" th:href="@{/tags/-1}" class="m-item item m-mobile-hide"
               th:classappend="${n==3} ? 'active'"><i class="mini tags icon"></i>&nbsp;标签</a>
            <a href="#" target="_blank" th:href="@{/archives}" class="m-item item m-mobile-hide"
               th:classappend="${n==4} ? 'active'"><i class="mini clone icon"></i>&nbsp;归档</a>
            <a href="#" target="_blank" th:href="@{/Messages}" class="m-item item m-mobile-hide"
               th:classappend="${n==5} ? 'active'"><i class="mini envelope outline icon"></i>&nbsp;留言</a>
            <a href="#" target="_blank" th:href="@{/about}" class="m-item item m-mobile-hide"
               th:classappend="${n==6} ? 'active'"><i class="mini info icon"></i>关于我</a>
            <a href="#" class="active m-item item m-mobile-hide" th:href="@{/picture}><i class=" image icon"></i>照片墙</a>
            <a href="http://music.liuawen.top" class="m-item item m-mobile-hide" th:classappend="${n==7} ? 'active'"><i
                    class="mini music icon"></i>&nbsp;在线音乐</a>
            <!--      <a href="http://netdisk.xiongsihao.com" class="m-item item m-mobile-hide" th:classappend="${n==8} ? 'active'"><i class="mini save icon"></i>&nbsp;云盘</a>-->
            <a href="http://netdisk.liuawen.top" class="m-item item m-mobile-hide"
               th:classappend="${n==8} ? 'active'"><i class="mini save icon"></i>&nbsp;云盘</a>
            <!--      <a href="#" target="_blank" th:href="@{/admin}" class="m-item item m-mobile-hide" th:classappend="${n==7} ? 'active'"><i class="mini user secret icon"></i>后台管理</a>
                  <a href="#" target="_blank" th:href="@{/qq/oauth}" class="m-item item m-mobile-hide"><i class="mini qq icon"></i>QQ登录</a>-->

            <!--</div>-->
            <div class="right m-item item m-mobile-hide">
                <form name="search" action="#" method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny" style="color: white">
                        <input style="color: white" type="text" name="query" placeholder="Search....">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--顶部图片-->
<div class="m-bg-type_outer" style="width: 100%;height: 40%">
    <img src="../static/images/picturebg.jpg" th:src="@{/images/picturebg.jpg}" alt="" class="ui m-bg image"
         style="width: 100%;height: 100%">
    <div class="m-bg-class_cover">
        <div class="ui container" style="position: relative ;bottom: -540px;">
            <div class="m-font-size-title m-right-bottom" align="center" style="font-family:'STXingkai'">照片墙</div>
            <div class="m-font-size-text-init-title m-margin-top" align="center">愿你走出半生，归来仍是少年</div>
        </div>
    </div>
</div>


<!--照片墙-->
<div id="picture-main">

    <article class="thumb">
        <div class="ma5-gallery">
            <div class="rthumbnail">
                <a href="../static/images/backimg1.jpg">
                    <img class="picture-zmki_px" src="../static/images/backimg1.jpg">
                </a>
                <div class="m-picture-text">起风了</div>
                <div class="rcaption">
                    <div style="font-size: large;">起风了</div>
                    <div style="font-size: small" class="m-margin-top">2020-02-02 &nbsp;深圳</div>
                    <p style="font-size: small">我曾难自拔于世界之大，也沉迷于其中梦话</p>
                </div>
            </div>
        </div>
    </article>

</div>


<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：157514367@qq.com</a>
                    <a href="#" class="item m-text-thin">QQ：157514367</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、记录学习进度和关于编程、写作、思考相关的任何内容...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2017 - 2020 Liu Awen Designed by Liu Awen</p>
    </div>

</footer>

</footer>
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../static/lib/picture/js/jquery.min.js" th:src="@{/lib/picture/js/jquery.min.js}"></script>
<script src="../static/lib/picture/js/jkresponsivegallery.js"
        th:src="@{/lib/picture/js/jkresponsivegallery.js}"></script>

<!--/*/</th:block>/*/-->

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>


</body>
</html>